<!DOCTYPE html>
<html>
<head>
    <title>Warthog Explorer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <h1>Warthog Explorer</h1>

	<div class="content">
		<div class="content-left box">
			<h2>Wallet balance</h2>

			<form action="/" method="post">
				<div class="form__group field">
					<label class="form__label" for="address">Enter Address:</label>
					<input class="form__field" type="text" id="address" name="address" required>
					<button class="form__button" type="submit">Check Balance</button>
				</div>
			</form>
			<div id="result">
				<div><span class="bold">{{ .Balance }}</span></div>
			</div>
		</div>
		<div class="content-right box">
			<h2>Network Data</h2>
			<div><span class="bold">Last 100 Blocks Hash Rate Estimate:</span> {{ .HashRate }} Hs</div>
			<div><span class="bold">Chain Height:</span> {{ .ChainHeight }}</div>
			<div><span class="bold">Chain Difficulty:</span> {{ .ChainDifficulty }}</div>			
		</div>
	</div>
</body>
</html>
