<!DOCTYPE html>
<html>
<head>
	<title>Warthog Explorer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
	<script src="/static/index.js"></script>
</head>
<body>

    <h1>Warthog Explorer</h1>

	<div class="content">
		<div class="content-left box">
			<h2>Wallet balance</h2>

			<form action="/" method="post">
				<div class="form__group field">
					<label class="form__label" for="address">Enter Address:</label>
					<input class="form__field" type="text" id="address" name="address" required>
					<button class="form__button" type="submit">Check Balance</button>
				</div>
			</form>
			<div id="result">
				<div><span class="bold">{{ .Balance }}</span></div>
			</div>
			<div id="wallet_transactions">
				{{if .Transactions}}
				<h2>Transactions</h2>
					{{ range $block := .Transactions }}

						{{ range $reward := $block.Transactions.Rewards }}
							<div class="transaction_hist">
								<h3>Block {{ $block.Height }}</h3>
								<div class="txamount"><strong>Amount: {{ $reward.Amount }}</strong></div>
								<div class="txdestination"><strong>To Address:</strong> {{ $reward.ToAddress }}</div>
								<div class="txhash"><strong>Tx Hash:</strong> {{ $reward.TxHash }}</div>
							</div>
						{{ end }}

					{{ end }}
					<div class="transactions_nav">
						<button id="prevPageButton"> < </button>
						<button id="nextPageButton"> > </button>
						<div id="pageInfo"></div>
					</div>

				{{ end }}
			</div>
		</div>
		<div class="content-right box">
			<h2>Network Data</h2>
			<div><span class="bold">Last 100 Blocks Hash Rate Estimate:</span> {{ .HashRate }} Hs</div>
			<div><span class="bold">Chain Height:</span> {{ .ChainHeight }}</div>
			<div><span class="bold">Chain Difficulty:</span> {{ .ChainDifficulty }}</div>			
		</div>
	</div>

	<footer>
		<p>Warthog Explorer v{{.Version}} | Official website : <a href="https://www.warthogcoin.com" target="_blank">www.warthogcoin.com</a></p> 
	</footer>

</body>
</html>